body{
    background-color: rgb(237, 237, 139);
}
h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 49px;
    width: auto;
    height: auto;
    border-radius: 15px;
    background-color: rgb(58, 178, 248);
}

h2{
    text-align: center;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3{
    font-size: 32px;
    text-align: center;
}

.flex-container {
  display: flex; 
  justify-content: space-around; 
  height: auto;
  max-width: auto;
  padding: 10px;
  border-radius: 15px;
  
}

.flex-container img{
    max-width: 300px;
    height: auto;
    align-items: center;
}

.description{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 21px;
    height: auto;
    width: auto;
    word-spacing: 2px;
    text-align: center;
}


.info-card{
    display: block;
    text-decoration: none;
}

.info-inside{
    text-decoration: none;
    text-align: center;
    margin: auto;
    
    color: white;
    padding: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 250px;
    height: auto;
    
    background-color: navy;
    border-radius: 12px;
    

}

.flex-container,.boxes{
    flex-wrap: wrap;
}

.info-inside img{
    height: auto;
    width: 100%;
    display: block;
    margin: 0 auto;

}


.boxes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer{
    background-color: rgb(58, 178, 248);
    text-align: center;
    padding: 20px;
}




.box{
    width: 150px;
    height: 150px;
    background-color: lightblue;
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    text-decoration: none;
}

/* Tablet */
@media (max-width: 800px) {
    .info-inside {
        width: 45%;
    }
}

/* Mobile */
@media (max-width: 500px) {
    .info-inside {
        width: 100%;
    }
}


